#picture{
  height: 150px;
  width: 250px;
  margin-right: 10px;
  
}

div #mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

#bodyDiv{
  display: flex;
  flex-direction: row;
  background-color: rgb(219, 215, 210);
  size: cover;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 95vw;
}
h3{
  color: black;
}
/* h4 span{
  padding-left: 15px;
  font-size: 20px;
  ;
} */
#left{
  width: 50vw;
  
  
  
}
#right{
  width: 50vw;
  
  
}
#storyhead{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  
}
#storyhead h4{
  justify-content: flex-end;
  align-self: flex-start;
  color: rgb(104, 100, 100);
  margin-bottom: 0px;
  margin-top: 60px;
}
#imgAndHeading{
  display: flex;
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  
  
}